head
	meta(charset="UTF-8")
	title Prokopiev John
	// build:css css/vender.css
	// bower:css
	// endbower
	// endbuild
	// build:css css/main.css
	link(rel="stylesheet" href="css/style.styl.min.css")
	// endbuild