section.home
	.home-text
		h2 John Prokopiev
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus soluta inventore consectetur voluptates commodi, magnam repudiandae non amet ullam, illo expedita, voluptas aperiam alias consequuntur quibusdam iusto id possimus ea.