section.about
	.about-img
		img(src="img/Ava1x1.jpg", alt="my photo")
	.about-text
		h1 Prokopiev John
		.about-content
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum expedita quasi repudiandae magni veniam officiis non quod commodi, eius iure voluptatum rerum optio iusto ut praesentium repellat fuga architecto odit!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos error quo totam qui minima amet expedita illo quidem, sequi nesciunt architecto ipsam voluptas doloremque, dicta nobis facilis soluta voluptatem labore.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint sequi ipsa quasi pariatur temporibus illum accusamus quae asperiores distinctio at, veritatis eius earum officia doloremque voluptatibus, porro in ad perspiciatis.
			p
				img(src="img/prokopiev_john_text.png", alt="prokopiev john")