section.news
	.next next
	.prev prev
	.news-items
		- for (var i = 0; i < 10; i++)
			.item
				.inner-item
					a(href="#" class='image')
						img(src="img/1.jpg", alt="image for item")
					text
						h4 Lorem ipsum dolor sit
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi deserunt quisquam tempore corporis dolores illum numquam libero unde doloremque sed quae velit architecto harum delectus, eum. At ipsa omnis in facilis, beatae officia, rem aliquid, itaque velit maiores temporibus, vel ea aut voluptas odio. Optio aliquid similique, debitis non expedita tenetur perspiciatis laborum. Modi praesentium eos sapiente, assumenda totam ipsam? Dolorem reiciendis perspiciatis, fugiat ad corporis voluptatibus voluptatum voluptates facilis recusandae nemo incidunt, alias corrupti ea cumque veritatis perferendis repellendus fugit eligendi numquam omnis porro iste est sed! Laborum, minima. Tempora, quae architecto, ducimus sit facilis nisi similique eligendi adipisci.
						a(class='read-more' href="#") Read More...